<div class="container"><!--追加-->
 <div class="row">
<%= render 'layouts/sidebar' %>

	<div class="col-xs-9">
		<h2>Book detail</h2>

		<table class="table">
				<tr>
					<!-- 非同期通信追加-->					
					<tr class="favorites_buttons_<%= @book.id %>">
						<%= render partial: 'favorites/favorite2', locals: { book: @book} %>
					</tr>
			  
			</table>

       
       <%= render 'book_comments/comments_area', book_comments: @book_comments %>
		
        <!-- form_for -->
        <%= form_with(model: [@book, @book_comment], remote: true) do |f| %>
        <%= f.label :comment %>
        <%= f.text_area :comment, id: "book_comment_comment", class: "form-control mb-3", placeholder: "コメント", rows:"4" %>
        <%= f.submit "送信する" %>
       <% end %>
 
	</div>
</div>
</div>



